expose:
  type: nodePort
  tls:
    enabled: false
  nodePort:
    name: harbor
    ports:
      http:
        port: 80
      https:
        port: 443
      notary:
        port: 4443

externalURL: http://harbor.local

harborAdminPassword: "Harbor12345"

persistence:
  enabled: true
  resourcePolicy: "keep"
  persistentVolumeClaim:
    registry:
      accessMode: ReadWriteOnce
      size: 5Gi
    chartmuseum:
      accessMode: ReadWriteOnce
      size: 2Gi
    jobservice:
      accessMode: ReadWriteOnce
      size: 1Gi
    database:
      accessMode: ReadWriteOnce
      size: 2Gi
    redis:
      accessMode: ReadWriteOnce
      size: 1Gi
